<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudcomputing.nodaechul.user.domain.repository.mapper.UserMapper">
    <insert id="createUser" parameterType="com.cloudcomputing.nodaechul.user.domain.model.dto.SignUpRequestDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user VALUES (0, #{email}, #{student_id}, #{name}, #{avatar}, #{password}, #{user_state}, #{user_role}, now(), now())
    </insert>

    <update id="activateUser" parameterType="hashMap">
        UPDATE user SET user_state = '${state}' WHERE id = '${userId}'
    </update>

    <select id="findByEmail" parameterType="String" resultType="com.cloudcomputing.nodaechul.user.domain.model.UserVO">
        SELECT id, email, student_id, name, password, user_state, user_role FROM user WHERE email = '${email}'
    </select>

    <delete id="deleteUser" parameterType="Long">
        DELETE FROM user WHERE id = #{userId}
    </delete>

    <select id="getUserS3Key" parameterType="Long">
        SELECT avatar FROM user WHERE id = #{id}
    </select>
</mapper>
